
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [28]:
#python program to sort the given list of tuples based on integer value using a lambda function
u= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
data = sorted (u,key =lambda x : x [1])
for i in data :
  print (i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.

In [27]:
#Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions

num= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
i=list(map(lambda num : num**2,num))
print(i)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions

In [25]:
#convert the given list of integers into a tuple of strings
string= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t=tuple(map(lambda string : str(string),string))
t

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.  Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [33]:
#python program using reduce function to compute the product of a list containing numbers from 1 to 25.
from functools import reduce

In [32]:
numb= list(range(1, 26))
prod= reduce (lambda d,c : d+c,numb )
prod

325

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [39]:
y = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
t=list(filter(lambda y : y%2 or y%3==0,y))
t

[3, 6, 9, 27, 60, 90, 120, 55]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [53]:
w1= ['python', 'php', 'aba', 'radar', 'level']
h=list( filter(lambda w1:w1==w1[::-1],w1))
print(h)

['php', 'aba', 'radar', 'level']