# ***Q1. Create one variable containing following type of data:***

In [1]:
#(i)	string
a= 'yash sahu'
a

'yash sahu'

In [2]:
#(ii)	list
b = ['yash sahu',78.60]
b

['yash sahu', 78.6]

In [3]:
#(iii)	float
c = 562.2533
c

562.2533

In [4]:
#(iv)	tuple
d = ('yash sahu',50.63, True)
d

('yash sahu', 50.63, True)

# ***Q2. Given are some following variables containing data:***

In [5]:
var1 = ' '
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [8]:
var4 = 1.
type(var4)

float

## ***Q3. Explain the use of the following operators using an example:***

In [9]:
#(i)	/
9/3

3.0

In [10]:
#(ii)	% 
a = 70
b = 10
remainder = a % b

remainder

0

In [11]:
#(iii)	//
a = 800
b = 200
r = a//b
r

4

In [12]:
#(iv)	**
a = 8
b = 2
r= a**b
r

64

# Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [1]:
my_list = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 30}, (4, 5, 6), None, 9.99, False]

for item in my_list:
    print(item, type(item))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 30} <class 'dict'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
9.99 <class 'float'>
False <class 'bool'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
A = 100
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
numbers = [7, 15, 9, 12, 18, 21, 2, 6, 88, 30, 27, 14, 8, 4, 36, 20, 1, 5, 10, 16, 13, 19, 3, 25, 22]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

7 is not divisible by 3.
15 is divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
2 is not divisible by 3.
6 is divisible by 3.
88 is not divisible by 3.
30 is divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
8 is not divisible by 3.
4 is not divisible by 3.
36 is divisible by 3.
20 is not divisible by 3.
1 is not divisible by 3.
5 is not divisible by 3.
10 is not divisible by 3.
16 is not divisible by 3.
13 is not divisible by 3.
19 is not divisible by 3.
3 is divisible by 3.
25 is not divisible by 3.
22 is not divisible by 3.

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.